# Git
.git
.gitignore

# Virtual Environments
.venv
venv
env
backend/.venv
backend/venv
**/venv
**/.venv
**/env

# Python Cache
__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
.pytest_cache

# Pytest / Coverage
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Logs
*.log

# Large Files / Models (Check specific folders if needed)
**/*.pt
**/*.pth
**/*.bin
**/*.onnx
**/*.parquet
**/*.pkl
**/*.jsonl
backend/app/data/games_metadata.jsonl
backend/test/data/
ml_rec/candidates/*.json
ml_rec/dataset/*.json

# Other
Dockerfile
README.md
backend/README.md