# Database Configuration
DATABASE_URL=postgresql+asyncpg://myuser:mypassword@db:5432/mydatabase

# Redis Configuration
REDIS_URL=redis://redis:6379

# ML Recognition Root Directory
ML_REC_ROOT=/app/ml_rec
