@import "tailwindcss";

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInSlideUp 0.5s ease-out;
}

@keyframes rotateChevron {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.hover\:animate-rotate-chevron:hover {
  animation: rotateChevron 0.3s ease-out forwards;
}

@keyframes fadeOutSlideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(16px);
  }
}

.animate-fade-out-down {
  animation: fadeOutSlideDown 0.3s ease-out forwards;
}
