Title: {{ title }}
Developer: {{ dev_list | join(', ') }}

Description:
{{ desc }}

Key Attributes:
- Genres: {{ genre_list | join(', ') }}
- Categories: {{ category_list | join(', ') }}
- Interface & Subtitles Languages: {{ lang_sub | join(', ') }}
- Full Audio Languages: {{ lang_audio | join(', ') }}